@font-face {
    font-family: "babe";
    src: url("assets/font/BABE.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lincoln";
    src: url("assets/font/LincolnMITRE-LMStencil.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 56.25%;
}

body {
    margin: 0 auto;
    width: 85%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    font-family: babe, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 0.03em;
    line-height: 2.5rem;
}

.header {
    display: flex;
}

.header-top {
    width: 50vw;
    margin-top: 2%;
    margin-bottom: 5%;
}

h1.logo {
    padding-top: 1.5%;
    font-family: lincoln, Helvetica, sans-serif;
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: normal;
}

h1.info {
    font-family: Helvetica, sans-serif;
    font-size: 2.75rem;
    line-height: 2.5rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 2.5%;
    width: 55%;
}

p.info {
    font-family: babe, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 2.5rem;
    width: 85%;
    margin-bottom: 0.75%;
}

h2 {
    font-family: babe, Helvetica, sans-serif;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: normal;
}

h2.bottom-logo {
    font-size: 2.25rem;
    text-transform: uppercase;
}

h2.question {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2.25rem;
}

h2.question:hover {
    font-style: italic;
    transition: 2s;
}

h2.table-item {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 2rem;
}

h2.table-item2 {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 2rem;
}

.work-table {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.work-table2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.5%;
}

.table-item {
    flex: 0 0 27%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    align-content: flex-start;
    width: 100%;
}

p.table-item {
    padding-top: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

p.table-item:last-of-type {
    margin-bottom: 20rem;
}

.table-item2 {
    flex: 0 0 27%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-content: flex-start;
    width: 100%;
}

.table-item3 {
    flex: 0 0 21%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
}

p.table-item {
    height: auto;
    vertical-align: text-top;
    border-top: 1px solid white;
}

p.table-item3 {
    width: 100%;
    height: auto;
    vertical-align: text-top;
}

.small {
    flex-grow: 0;
}

.med, .med2 {
    flex-grow: 1;
}

.big {
    flex-grow: 4;
}

.nav {
    font-family: babe, Helvetica, sans-serif;
    font-size: 85%;
    line-height: 3.5rem;
}

a.nav, a:active.nav, a:visited.nav, a:visited {
    color: white;
}


a.nav::after {
    content: " \25A1";
}

a.nav:active::after, a.nav:hover::after {
    content: " \25A0";
}

a:link, a:active {
    color: white;
    cursor: help;
    text-decoration: none;
}

a:hover {
    color: saddlebrown;
}

.hide-n-seek a {
    position: relative;
    display: inline-block;
}

.hide-n-seek a span {
    position: absolute;
    display: none;
    z-index: 10000;
}

.hide-n-seek a:hover span {
    display: block;
}

.hide-n-seek img {
    z-index: 10000;
    position: fixed;
    bottom: 30%;
    left: 3%;
    max-height: 45%;
    max-width: 50%;
    background: black;
    border: 1px solid white;
    padding: 0.5%;
}

.filter {
    /* mix-blend-mode: overlay; */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.bottom {
    display: flex;
    align-items: flex-start;
    padding-top: 5%;
    justify-content: space-between;
    height: 130px;
}

footer {
    position: fixed;
    bottom: 0%;
    width: inherit;
    z-index: -1;
}

.gradient {
    background: transparent url('assets/gradient.png') repeat-x center center;
    position: fixed;
    z-index: 5000;
}

ul.nav li {
    display: inline;
    font-size: 50px;
    letter-spacing: -1px;
}

@media only screen and (max-width:800px) {
    body {
        font-size: 2rem;
        font-weight: normal;
        letter-spacing: 0.03em;
        line-height: 2.25rem;
    }
    .header {
        display: flex;
        flex-wrap: wrap;
    }
    .header-top {
        position: static;
        width: 50vw;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .nav {
        font-family: babe, Helvetica, sans-serif;
        font-size: 60%;
        line-height: 1.5rem;
        position: relative;
    }
    a.nav::after {
        content: "";
    }
    a.nav:active::after, a.nav:hover::after {
        content: "";
    }
    .med {
        display: none;
        visibility: hidden;
    }
    .work-table {
        display: flex;
        flex-wrap: wrap;
    }
    .work-table2 {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2.5%;
    }
    .table-item {
        flex: 0 0 50%;
        flex-wrap: wrap;
    }
    .table-item2 {
        flex: 0 0 30%;
    }
    .table-item3 {
        flex: 0 0 100%;
    }
    h1.info {
        font-size: 2rem;
        line-height: 2rem;
        width: 100%;
    }
    p.info {
        line-height: 2rem;
    }
    h2.question {
        font-size: 2rem;
    }
    h2.bottom-logo {
        display: none;
    }
    .gradient {
        height: 70px;
    }
}